.info-carousel {
    background-color: #000;

    .slick-prev,
    .slick-next {
        z-index: 20;
    }

    .slick-prev {
        @media screen and (max-width: 1270px) {
            left: 10px;
        }
    }

    .slick-next {
        @media screen and (max-width: 1270px) {
            right: 10px;
        }
    }
}

.info-carousel__slide {
    position: relative;

    img {
        max-width: 100%;
    }
}

.info-carousel__slide-cta {
    position: absolute;
    left: 0;
    right: 0;
    display: table;
    margin: 0 auto;

    @media screen and (min-width: 769px) {
        bottom: 18%;
    }

    @media screen and (max-width: 768px) {
        bottom: 5%;
    }

    .cta-link {
        @media screen and (max-width: 768px) {
            width: 96px;
            height: 33px;
            background-size: contain;
            padding-top: 12px;
            font-size: 15px;
        }
    }
}
