.info-carousel {
    background-color: #000;
}

.info-carousel__slide {
    position: relative;

    img {
        max-width: 100%;
    }
}

.info-carousel__slide-cta {
    position: absolute;
    bottom: 18%;
    left: 0;
    right: 0;
    display: table;
    margin: 0 auto;
}
