.header {
    width: 100%;
    background-color: #1a4c6d;
    padding: 22px 0;
}

.header__link {
    font-family: Furore;
    font-size: 19px;
    color: #fff;
    margin: 0 10px;
}

a.header__link {
    text-decoration: none;
}

a.header__link:hover {
    text-decoration: underline;
}