.cta-link {
    font-family: Furore;
    font-size: 17px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    padding-top: 15px;
    margin: 0 auto;

    &:hover {
        opacity: .8;
    }

    &,
    &.primary {
        background-image: url('/img/button_orange.png');
    }

    &.secondary {
        background-image: url('/img/button_green.png');
    }
}
