.donate-header {
    background-color: #4174ba;
    height: 90px;
}

.donate-header__text {
    font-family: Furore;
    font-size: 24px;
    color: #fff;
    width: 42.59259259259259%;
    float: left;
    text-align: center;
    padding-top: 25px;
}

.donate-header__donate {
    width: 14.81481481481481%;
    float: left;
    text-align: center;
    padding-top: 15px;
}