.donate-header {
    background-color: #4174ba;
    min-height: 90px;
}

.donate-header__text {
    font-family: Furore;
    font-size: 24px;
    color: #fff;
    text-align: center;

    @media screen and (min-width: 1201px) {
        width: 42.59259259259259%;
        float: left;
        padding-top: 25px;
    }
    @media screen and (max-width: 1200px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.donate-header__donate {
    text-align: center;

    @media screen and (min-width: 1201px) {
        width: 14.81481481481481%;
        float: left;
        padding-top: 15px;
    }
    @media screen and (max-width: 1200px) {
    }
}
